div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: moving-circle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 50px;
}

@keyframes moving-circle {
    /*Completeaza codul lipsa*/
}