.wrapper {
    display: flex;
    gap: 2vh;
}

.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}

.c1 {
    /*Completeaza codul lipsa*/

}

.c2 {
    min-height: 30vh;
    /*Completeaza codul lipsa*/

}

.c3 {
    min-height: 50vh;
    /*Completeaza codul lipsa*/

}